In [16]:
# import required libraries
import pandas as pd
import numpy as np
import requests as rq
import plotly.graph_objects as go
import time
import datetime

In [21]:
# Define your stock and time period
start_timestamp = '2000-01-01'
end_timestamp = '2025-01-01'
symbol = 'AAPL'

# now convert time into unix format
def to_unix_timestamp(date_str):
    dt = datetime.datetime.strptime(date_str, "%Y-%m-%d")
    return int(time.mktime(dt.timetuple()))

# now define the periods
period1 = to_unix_timestamp(start_timestamp)
period2 = to_unix_timestamp(end_timestamp)

# Build the URL
url = f"https://query1.finance.yahoo.com/v8/finance/chart/{symbol}"

params = {
    "period1": period1,
    "period2": period2,
    "interval": "1d",
    "events": "history",
    "includeAdjustedClose": "true"
}

headers = {
    "User-Agent": "Mozilla/5.0"
}

# Send request
response = rq.get(url, headers=headers, params=params)

# Process response
if response.status_code == 200:
    data = response.json()
    timestamps = data['chart']['result'][0]['timestamp']
    indicators = data['chart']['result'][0]['indicators']['quote'][0]
    
    dataset = pd.DataFrame({
        'Datetime': pd.to_datetime(timestamps, unit='s'),
        'Open': indicators['open'],
        'High': indicators['high'],
        'Low': indicators['low'],
        'Close': indicators['close'],
        'Volume': indicators['volume']
    })
    
    print(dataset.head())
    
else:
    print(f"Failed to fetch data {response.status_code}")

             Datetime      Open      High       Low     Close     Volume
0 1999-12-31 14:30:00  0.901228  0.918527  0.888393  0.917969  163811200
1 2000-01-03 14:30:00  0.936384  1.004464  0.907924  0.999442  535796800
2 2000-01-04 14:30:00  0.966518  0.987723  0.903460  0.915179  512377600
3 2000-01-05 14:30:00  0.926339  0.987165  0.919643  0.928571  778321600
4 2000-01-06 14:30:00  0.947545  0.955357  0.848214  0.848214  767972800

In [22]:
# find dataset
dataset.head()

             Datetime      Open      High       Low     Close     Volume
0 1999-12-31 14:30:00  0.901228  0.918527  0.888393  0.917969  163811200
1 2000-01-03 14:30:00  0.936384  1.004464  0.907924  0.999442  535796800
2 2000-01-04 14:30:00  0.966518  0.987723  0.903460  0.915179  512377600
3 2000-01-05 14:30:00  0.926339  0.987165  0.919643  0.928571  778321600
4 2000-01-06 14:30:00  0.947545  0.955357  0.848214  0.848214  767972800

In [23]:
# find shape of dataset
dataset.shape

(6290, 6)

In [24]:
# check for any missing or null values
dataset.isnull().sum()

Datetime    0
Open        0
High        0
Low         0
Close       0
Volume      0
dtype: int64

In [25]:
# as there are no values which is a good thing
# now check the datatypes
dataset.dtypes

Datetime    datetime64[ns]
Open               float64
High               float64
Low                float64
Close              float64
Volume               int64
dtype: object

In [ ]:
# all the